// 常用背景颜色
$bg-white: #ffffff;
$bg-darker: #000000;
$bg-light: #f8f9fb;
$bg-grey: #f0f2f5;
$bg-dark: #D8D8D8;
$bg-blue: #59BEF5;
$bg-blue-1: #54A9F4;
$bg-blue-2: #2B6CD7;
$bg-yellow: #F8D15A;
$bg-yellow-1: #F4B36B;
$bg-success: #67C23A;
$bg-warn: #E6A23C;
$bg-error: #F56C6C;
$bg-info: #909399;
$img-bg-color: #f8f9fb;
$card-bg-color: #F6F6F6;

// 字体颜色
$ft-white: #ffffff;
$ft-default: #606266;
$ft-dark: #303133;
$ft-light: #909399;
$ft-red: #DC143C;
$placeholder: #C0C4CC;

// 常用边框颜色
$br-white: #ffffff;
$br-default: #ebeef5;
$br-dark: #666666;